*{
    box-sizing: border-box;
    margin: 0
}
body{
    font-family: Arial, sans-serif;
    font-size: 15px;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#submitBtn {
    background: #28a745;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
   margin-top: 1rem;
}
form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

label{
    display: block;
}
input[type="text"], input[type="email"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}



